@media (prefers-color-scheme: light) {
  .page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.main ul {
  margin: 25px;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  list-style: none;
  list-style-position: inside;
}

.main li div {
  padding: 10px 5px 10px;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 1200px) {
  .content {
    display: flex;
    flex-direction: column;
  }

  .introduction,
  .portfolio {
    margin: auto;
  }
}

.introduction,
.portfolio {
  padding: 10px 100px 25px;
}

.introduction h1,
.portfolio h1 {
  text-align: center;
  margin: 10px 25px 10px;
  padding: 20px auto 20px;
}

.portfolio a:hover h1 {
  color: light-dark(#e2e2b6, #03346e);
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ul {
    text-align: center;
  }
}
