@media (prefers-color-scheme: light) {
  .page {
    --gray-rgb: 0, 0, 0;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

    --button-primary-hover: #383838;
    --button-secondary-hover: #f2f2f2;
  }
}

@media (prefers-color-scheme: dark) {
  .page {
    --gray-rgb: 255, 255, 255;
    --gray-alpha-200: rgba(var(--gray-rgb), 0.145);
    --gray-alpha-100: rgba(var(--gray-rgb), 0.06);

    --button-primary-hover: #ccc;
    --button-secondary-hover: #1a1a1a;
  }
}

.main {
  display: flex;
  flex-direction: column;
}

.main ul {
  font-size: 14px;
  line-height: 24px;
  list-style: none;
}

.main li:not(:last-of-type) {
  margin-bottom: 8px;
}

.content {
  display: flex;
  flex-direction: row;
}

.introduction,
.portfolio {
  padding: 10px 50px 25px;
}

.introduction h1,
.portfolio h1 {
  text-align: center;
  margin: 10px 25px 10px;
  padding: 20px auto 20px;
}

.introduction p {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: justify;
}

.portfolio div {
  width: 20rem;
}

.portfolio a:hover h1 {
  color: light-dark(#e2e2b6, #03346e);
}

@media screen and (max-width: 1200px) {
  .content {
    flex-direction: column;
  }

  .portfolio {
    padding-left: 25px;
    padding-right: 25px;
  }
}

@media screen and (max-width: 576px) {
  .main {
    align-items: center;
  }

  .main ul {
    text-align: start;
  }

  .content {
    margin-left: 12.5rem;
    margin-right: 12.5rem;
  }

  .introduction {
    padding: 10px 100px 25px;
  }
}
